<configuration>

    <Property name="logDir" value="./logs"/>

    <property name="CONSOLE_LOG_PATTERN" value="%d [%thread] %-5level %logger{120} [%file : %line] - %msg%n"/>

    <!--ConsoleAppender 用于在屏幕上输出日志-->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <!-- 设置字符集 -->
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="SYSLOG" class="ch.qos.logback.classic.net.SyslogAppender">
        <syslogHost>127.0.0.1</syslogHost>
        <facility>LOCAL1</facility>
<!--        <suffixPattern>%msg</suffixPattern>-->
        <!-- 消息格式 -->
        <encoder>
            <pattern>
                &lt;%level&gt;1 %date{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %host %logger %thread - - %msg%n
            </pattern>
        </encoder>
<!--        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--            <level>error</level>-->
<!--        </filter>-->
    </appender>

    <!--appender03 根据大小和时间策略的滚动日志输出，Error及以上级别输出 -->
<!--    <appender name="RollingFileError" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--            <level>info</level>-->
<!--        </filter>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">-->
<!--            &lt;!&ndash;日志文件输出的文件名，日期必须加，如果单天需要生成多个日志，则需要添加%i&ndash;&gt;-->
<!--            <FileNamePattern>${logDir}/error.%d{yyyy-MM-dd}-%i.log</FileNamePattern>-->
<!--            &lt;!&ndash;历史日志文件保留天数，不包含当日日志，且需结合cleanHistoryOnStart字段使用&ndash;&gt;-->
<!--            &lt;!&ndash;可以按“文件数量、小时、天、月、年”等策略实现文件保留 &ndash;&gt;-->
<!--            <MaxHistory>3</MaxHistory>-->
<!--            <cleanHistoryOnStart>true</cleanHistoryOnStart>-->
<!--            &lt;!&ndash; 单天单个日志最大size &ndash;&gt;-->
<!--            <maxFileSize>1MB</maxFileSize>-->
<!--            &lt;!&ndash;仅针对当天的日志进行总size控制,日志名中的“i”保留最后数值 &ndash;&gt;-->
<!--            <totalSizeCap>10MB</totalSizeCap>-->
<!--        </rollingPolicy>-->
<!--        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
<!--            &lt;!&ndash;格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度，%logger:显示类名 %msg：日志消息，%n是换行符&ndash;&gt;-->
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} %msg%n</pattern>-->
<!--        </encoder>-->
<!--        &lt;!&ndash;日志文件最大的大小&ndash;&gt;-->
<!--    </appender>-->

<!--    <appender name="OPENAPI" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <file>${logDir}/openapi.log</file>&ndash;&gt;-->
<!--        &lt;!&ndash; 日志记录器的滚动策略，按日期，按大小记录 &ndash;&gt;-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">-->
<!--            &lt;!&ndash; 每天日志归档路径以及格式 &ndash;&gt;-->
<!--            <fileNamePattern>${logDir}/openapi%i.log</fileNamePattern>-->
<!--            <minIndex>0</minIndex>-->
<!--            <maxIndex>20</maxIndex>-->
<!--        </rollingPolicy>-->
<!--        &lt;!&ndash; 日志文档输出格式 &ndash;&gt;-->
<!--        <encoder>-->
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} %msg%n</pattern>-->
<!--            <charset>UTF-8</charset>-->
<!--        </encoder>-->
<!--        &lt;!&ndash; 日志文件最大的大小 &ndash;&gt;-->
<!--        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">-->
<!--            <MaxFileSize>100MB</MaxFileSize>-->
<!--        </triggeringPolicy>-->
<!--    </appender>-->

<!--    <appender name="AGENT" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <file>${logDir}/agent.log</file>&ndash;&gt;-->
<!--        &lt;!&ndash; 日志记录器的滚动策略，按日期，按大小记录 &ndash;&gt;-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">-->
<!--            &lt;!&ndash; 每天日志归档路径以及格式 &ndash;&gt;-->
<!--            <fileNamePattern>${logDir}/agent_%i.log</fileNamePattern>-->
<!--            <minIndex>0</minIndex>-->
<!--            <maxIndex>20</maxIndex>-->
<!--        </rollingPolicy>-->
<!--        &lt;!&ndash; 日志文档输出格式 &ndash;&gt;-->
<!--        <encoder>-->
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} %msg%n</pattern>-->
<!--            <charset>UTF-8</charset>-->
<!--        </encoder>-->
<!--        &lt;!&ndash; 日志文件最大的大小 &ndash;&gt;-->
<!--        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">-->
<!--            <MaxFileSize>100MB</MaxFileSize>-->
<!--        </triggeringPolicy>-->
<!--    </appender>-->

<!--    <logger name="cn.com.infosec.ucypher" additivity="false">-->
<!--        <appender-ref ref="OPENAPI"/>-->
<!--    </logger>-->


    <!--appender04 根据时间滚动策略的日志输出，Info及以上级别输出 -->
<!--    <appender name="RollingFileInfo" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--            <level>info</level>-->
<!--        </filter>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            &lt;!&ndash;日志文件输出的文件名,不支持%i&ndash;&gt;-->
<!--            <FileNamePattern>${logDir}/%d{yyyy-MM-dd}/MY_PLACEHOLDER_run.log</FileNamePattern>-->
<!--            &lt;!&ndash;日志文件保留天数&ndash;&gt;-->
<!--            <MaxHistory>2</MaxHistory>-->
<!--            <totalSizeCap>1MB</totalSizeCap>-->
<!--            <cleanHistoryOnStart>true</cleanHistoryOnStart>-->
<!--        </rollingPolicy>-->
<!--        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
<!--            &lt;!&ndash;格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度，%logger:显示类名 %msg：日志消息，%n是换行符&ndash;&gt;-->
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

    <!--appender05 固定窗口滚动策略的日志输出，Debug及以上级别输出 -->
<!--    <appender name="RollingFileDebug" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">-->
<!--            <level>debug</level>-->
<!--        </filter>-->
<!--        <file>${logDir}/debug.log</file>-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">-->
<!--            <fileNamePattern>${logDir}/debug.%i.log</fileNamePattern>-->
<!--            <minIndex>0</minIndex>-->
<!--            <maxIndex>9</maxIndex>-->
<!--        </rollingPolicy>-->
<!--        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
<!--            &lt;!&ndash;格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度，%logger:显示类名 %msg：日志消息，%n是换行符&ndash;&gt;-->
<!--            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} %msg%n</pattern>-->
<!--        </encoder>-->
<!--        &lt;!&ndash;日志文件最大的大小&ndash;&gt;-->
<!--        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">-->
<!--            <MaxFileSize>10MB</MaxFileSize>-->
<!--        </triggeringPolicy>-->
<!--    </appender>-->

        <logger name="org.example" level="INFO" additivity="true">
            <appender-ref ref="SYSLOG" />
        </logger>

    <root level="debug">
<!--                <appender-ref ref="RFILE"/>-->
        <appender-ref ref="CONSOLE" />
<!--        <appender-ref ref="OPENAPI" />-->
<!--        <appender-ref ref="RollingFileError" />-->
<!--        <appender-ref ref="RollingFileInfo" />-->
        <appender-ref ref="SYSLOG" />
<!--        <appender-ref ref="AGENT" />-->
    </root>

</configuration>
